.container
  = simple_form_for(:conversation, url: '/conversations', html: { class: 'form' }) do |f|
    .form-group
      = hidden_field_tag 'contact_id', @contact_id
    .form-group
      = f.input :subject, input_html: { name: 'subject' ,class: 'form-control' }
    .form-group
      = f.input :reply, input_html: { name: 'body',class: 'form-control' }
    = f.button :submit, input_html: { class: 'btn btn-primary' }