.row
  .col-12.col-md-6
    = simple_form_for(:conversation, url: '/conversations', html: { class: 'form' }) do |f|
      .form-group
        = hidden_field_tag 'contact_id', @contact_id
      .form-group
        = f.input :subject, input_html: { name: 'subject' ,class: 'form-control' }
      .form-group
        = f.input :reply,as: :text, input_html: { name: 'body',class: 'form-control' }
      .form-group.d-flex.justify-content-end
        = f.button :submit, "Send", { class: 'btn-primary' }