.container
	%h3
		= @conversation.subject
	- @conversation.receipts_for(current_contact).each do |receipt|
		%p
			= receipt.message.sender.name
		%p
			= receipt.message.body

	= simple_form_for(:message, url: conversation_messages_path(@conversation), html: { class: 'form' }) do |f|
		.form-group
			= f.input :body, input_html: { name: 'body',class: 'form-control' }
		= f.button :submit