%h3
  = @conversation.subject
.col-sm-8.col-sm-offset-4.frame
  %ul
    - @conversation.receipts_for(current_contact).order(created_at: :desc).each do |receipt|
      - date = receipt.message.created_at
      - text = receipt.message.body
      - if current_contact.id == receipt.message.sender.id
        %li{style: "width:100%"}
          .msj.macro
            .avatar{style: "width: 100%;"}
              - if receipt.message.sender.profile_image.present?
                = link_to contact_path(receipt.message.sender) do
                  = image_tag receipt.message.sender.profile_image(:thumb), {class: "img-circle", style: "width:100%;"}
              .text.text-l
                %p
                  = text
                %p
                  %small
                    = date
      - else
        %li{style: "width:100%;"}
          .msj-rta.macro
            .text.text-r
              %p
                = text
              %p
                %small
                  = date
            .avatar{style:"padding:0px 0px 0px 10px !important; width: 100%;"}
              - if receipt.message.sender.profile_image.present?
                = link_to contact_path(receipt.message.sender) do
                  = image_tag receipt.message.sender.profile_image(:thumb), {class: "img-circle", style: "width:100%;"}

  %div{style:"padding:5px;"}
    .msj-rta.macro
      = simple_form_for(:message, url: conversation_messages_path(@conversation), html: { id: 'conversation-form', class: 'form', style: 'width: 100%;' }) do |f|
        %div{style:"padding:10px;"}
          .text.text-r{style: "background:whitesmoke !important"}
            %input.mytext{placeholder:"Type a message", name: 'body', id: 'conversation-input', type:'text'}
