.row
  - @pets.each do |pet|
    .col-4.mb-3
      %div.card{'style'=>"max-width: 18rem;"}
        .card-header
          .row
            .col-10
              = pet.name
            .col-2
              = link_to 'x', pet_path(pet.id), method: 'delete'
        = image_tag pet.pictures.first.image(:thumb) if pet.pictures.first
        .card-body
          = pet.gender
          %br
          = pet.age

- if params[:contact_id].nil?
  = link_to 'add', new_pet_path