.container
	- @contacts.each do |contact|
		%div
			= contact.first_name
			= "#{contact.unit} #{contact.street_number} #{contact.street_name} #{contact.suburb} #{contact.post_code}"
			= contact.latitude
			= contact.longitude
			= link_to 'view', contact_path(contact)
		

